[build-system]
requires = ["flit_core >=2,<4"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
module = "tempor"
author = "Wh1t3Fox"
author-email = "dev@exploit.design"
home-page = "https://github.com/Wh1t3Fox/tempor"
requires = [
    "ansible==5.6.0",
    "appdirs==1.4.4",
    "ansible_runner==1.4.6",
    "jsonschema==3.2.0",
    "python-terraform==0.10.1",
    "rich==9.3.0",
    "ssh-config==0.0.22",
    "PyYAML==5.4.1",
    "boto3==1.22.1",
    "requests==2.27.1",
    "google-api-python-client==2.46.0"
]
requires-python = ">=3.6"
classifiers=[
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Operating System :: Android",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Environment :: Console",
]
description-file = "README.md"

[tool.flit.metadata.requires-extra]
dev = [
    "black==20.8b1",
    "twine==3.2.0",
    "pytest==6.1.2",
    "pytest_cov==2.10.1",
    "flit==3.0.0",
] 
doc = ["sphinx"]

[tool.flit.scripts]
tempor = "tempor.__main__:main"
